body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

#container{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header1{
    height: 8vh;
    background-color: white;
    align-items: center;

}

.header1 h1{
    align-items: center;
}


.top{
    height: 90vh;
    width: 100vw;
} 

.rgbpalette {
    height: 400px;
    width: 300px;
    /* position: relative;
    top: 1em;
    left: 1em; */
    margin: 1em;
    align-items: center;
    background-color:rgb(177, 178, 219);
    border-radius: 10px;
    display: grid;
    place-items: center;
    color: black;
    font-family:  Calibri;

}

#box{
    height: 40px;
    width: 80%;
    border: none;
    outline: none;
    border-radius: 50px;
    text-align: center;
}

input[type="range"]{
    -webkit-appearance: none;
    height: 10px;
    width: 80%;
    border-radius: 50px;
    outline: none;
}

input[type="range"]::-webkit-slider-thumb{
    -webkit-appearance: none;
    height: 25px;
    width: 25px;
    background-color: #fff;
    border-radius: 50px;
    cursor: pointer;
}

/* .rgbpalette #red{
    background: linear-gradient(to right, rgba(255,0,0,1), rgba(255,0,0,0) );
}

.rgbpalette #green{
    background: linear-gradient(to right, rgba(0,255,0,1), rgba(255,0,0,0) );
}

.rgbpalette #blue{
    background: linear-gradient(to right, rgba(0,0,255,1), rgba(255,0,0,0) );
} */


.rgbpalette #red{
    background: linear-gradient(90deg, #000, red, white );
}

.rgbpalette #green{
    background: linear-gradient( 90deg, #000, green, white);
}

.rgbpalette #blue{
    background: linear-gradient( 90deg, #000, blue, white);
}

.color-palette{
    padding: 1em;
    height: 85vh;
}

÷
/* .color-picker .toparea{
    background-color: white;
    overflow: hidden;
    display: flex;
    margin: 15px;
    clear: none;
} */

 :root {
     --c:#b51c1c;
     --c:#c0360c;
     --c:#e65000;
     --c:#F57F17;
     --c:#827717;
     --c:#33691E;
     --c:#004d40;
     --c:#006366;
     --c:hsl(216, 85%, 34%);
    
     --c:#1a227f;
     --c:hsl(287, 72%, 40%);
     --c:#311b93;
     --c:#860e4e;
     --c:#3e2723;
     --c:#212121;
     --c:#253137;

 }


 .listOfBtns{
     display: flex;  

 }

[class|="clr"]{
     height: 50px; width: 50px;
     outline: 1px solid #000;
 }

.colorList{
    display: flex;
}

 .colorSample {
     height: 180px; width: 80px;
     outline: 1px solid #000;
     display: flex;
     align-items: center;
     font-family: Arial, Helvetica, sans-serif;
     margin-top: 20px;
     padding-top: 40px;
     writing-mode: vertical-rl;
     text-shadow: 2px darkgray;
 }

 .transform{
    -webkit-transition: 2s ease;  
    -moz-transition: all 2s ease;
    -o-transition: all 2s ease;  
    -ms-transition: all 2s ease;  
    transition: all 2s ease;
 }

 .transform-active {
     height: 70px;
     width: 70px;
 }

