body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#container{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header1{
    height: 8vh;
    background-color: white;
    align-items: center;

}

.header1 h1{
    align-items: center;
}


.top{
    height: 90vh;
    width: 100vw;
} 

.rgbpalette {
    height: 400px;
    width: 300px;
    /* position: relative;
    top: 1em;
    left: 1em; */
    margin: 1em;
    align-items: center;
    background-color:rgb(177, 178, 219);
    border-radius: 10px;
    display: grid;
    place-items: center;
    color: black;
    font-family:  Calibri;

}

#box{
    height: 40px;
    width: 80%;
    border: none;
    outline: none;
    border-radius: 50px;
    text-align: center;
}

input[type="range"]{
    -webkit-appearance: none;
    height: 10px;
    width: 80%;
    border-radius: 50px;
    outline: none;
}

input[type="range"]::-webkit-slider-thumb{
    -webkit-appearance: none;
    height: 25px;
    width: 25px;
    background-color: #fff;
    border-radius: 50px;
    cursor: pointer;
}

/* .rgbpalette #red{
    background: linear-gradient(to right, rgba(255,0,0,1), rgba(255,0,0,0) );
}

.rgbpalette #green{
    background: linear-gradient(to right, rgba(0,255,0,1), rgba(255,0,0,0) );
}

.rgbpalette #blue{
    background: linear-gradient(to right, rgba(0,0,255,1), rgba(255,0,0,0) );
} */


.rgbpalette #red{
    background: linear-gradient(90deg, #000, red, white );
}

.rgbpalette #green{
    background: linear-gradient( 90deg, #000, green, white);
}

.rgbpalette #blue{
    background: linear-gradient( 90deg, #000, blue, white);
}

.color-palette{
    padding: 1em;
    height: 85vh;
}

.color-picker{
    display: grid;
    width: 85vw;
    height: 75vw;
    grid-template-rows: 50px 2.5fr 5fr;
    margin: 0 auto;
    background-color: white;
    border: 3px solid #8dc7e4;
    border-radius: 0.5em;
    box-shadow: 0 1em 8em rgba(black, 0.35);
        
}

.color-picker .toparea{
    background-color: white;
    overflow: hidden;
    display: flex;
    margin: 15px;
    clear: none;
}

input[type=radio],
input.radio{
    float: flex;
    clear: none;
    margin: 5px;
}

.color-picker .midarea{
    background-color: rgb(255, 255, 255);
    float: flex;
    margin: 10px;
}

.color-picker .bottomarea{
    background-color: peru;

}

input[type="radio"] {
    display: none;
}
input[type="radio"]:checked + label span {
    transform: scale(1.5) translateY(9px);
}
input[type="radio"]:checked + label .red-2 {
    border: 2px solid #db2828;
}
input[type="radio"]:checked + label .orange {
    border: 2px solid #f2711c;
}
input[type="radio"]:checked + label .yellow {
    border: 2px solid #fbbd08;
}
input[type="radio"]:checked + label .yellow-light {
    border: 2px solid #FFEB3B;
}
input[type="radio"]:checked + label .green-light {
    border: 2px solid #CDDC39;
}
input[type="radio"]:checked + label .green-2 {
    border: 2px solid #21ba45;
}
input[type="radio"]:checked + label .teal {
    border: 2px solid #00b5ad;
}
input[type="radio"]:checked + label .blue-light {
    border: 2px solid #03A9F4;
} 
input[type="radio"]:checked + label .blue-2 {
    border: 2px solid #2185d0;
}
input[type="radio"]:checked + label .indigo {
    border: 2px solid #3F51B5;
}
input[type="radio"]:checked + label .violet {
    border: 2px solid #6435c9;
}
input[type="radio"]:checked + label .purple {
    border: 2px solid #a333c8;
}
input[type="radio"]:checked + label .pink {
    border: 2px solid #e03997;
}
input[type="radio"]:checked + label .brown {
    border: 2px solid #795548;
}
input[type="radio"]:checked + label .grey {
    border: 2px solid #9E9E9E;
}
input[type="radio"]:checked + label .grey-blue {
    border: 2px solid #607D8B;
}


label {
    display: inline-block;
    width: 25px;
    height: 25px;
    margin-right: 15px;
    cursor: pointer;
}
label:hover span {
    transform: scale(1.15);
}
label span {
    display: block;
    width: 100%;
    height: 100%;
    transition: transform 0.2s ease-in-out;
}
label span.red-2 {
    background: #db2828;
}
label span.orange {
    background: #f2711c;
}
label span.yellow {
    background: #fbbd08;
}

label span.yellow-light {
    background: #FFEB3B;
}

label span.green-light {
    background: #CDDC39;
}

label span.teal {
    background: #009688;
}
label span.green-2 {
    background: #21ba45;
}
label span.teal {
    background: #00b5ad;
}
label span.blue-light {
    background: #03A9F4;
}
label span.blue-2 {
    background: #2185d0;
}
label span.indigo {
    background: #3F51B5;
}
label span.violet {
    background: #6435c9;
}
label span.purple {
    background: #a333c8;
}
label span.pink {
    background: #e03997;
}
label span.brown {
    background: #795548;
}
label span.grey {
    background: #9E9E9E;
}
label span.grey-blue {
    background: #607D8B;
}

table, th, td {
    border: 1px solid white;
    border-collapse: collapse;
    align-items: center;
  }


